:root{
    --background-color1: #0E061C;
    --background-color2: #1D0E34;
    --background-color3: #2D1650;
    --purple-color: #9034B0;
    --blue-color: #BBC2F8;
    --yellow-color: #F6FF8B;
    --black-color: #010101;
    --white-color: #FEFEFE;

    --font-family1: 'Passion One', sans-serif;
    --font-family2: 'Aleo', sans-serif;
}