.header{
    position: fixed; 
    z-index: 6;
    top: 0; 
    width: 100%;
    background-color: var(--background-color1);
    border-bottom: var(--white-color) solid 1px;
}

.header__elements{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px;
}

.header__elements--btn{
    margin-left: auto;

}

.header__elements--logo{
    height: 50px;
}

.header__elements--btn1{
    text-decoration: none;
    background-color: none;
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 15px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--white-color);
    border: none;
    margin-right: 10px;
}

.header__elements--btn1:hover{
    text-decoration: none;
    background-color: none;
    color: var(--yellow-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 15px;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px var(--yellow-color);
    border: none;
    margin-right: 10px;
}

.header__elements--btn2{
    text-decoration: none;
    background-color: var(--purple-color);
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 29px; 
    border-radius: 15px;
    cursor: pointer;
}

.header__elements--btn2:hover{
    text-decoration: none;
    background-color: var(--yellow-color);
    color: var(--black-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 29px; 
    border-radius: 15px;
    cursor: pointer;
}

.header__elements--btn3{
    text-decoration: none;
    background-color: none;
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.header__elements--btn3:hover{
    text-decoration: none;
    background-color: none;
    color: var(--yellow-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.header__elements--btn4{
    text-decoration: none;
    background-color: none;
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.header__elements--btn4:hover{
    text-decoration: none;
    background-color: none;
    color: var(--yellow-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.header__elements--btn5{
    text-decoration: none;
    background-color: none;
    color: var(--white-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.header__elements--btn5:hover{
    text-decoration: none;
    background-color: none;
    color: var(--yellow-color);
    text-align: center;
    font-family: var(--font-family2);
    font-size: 16px;
    padding: 10px 15px; 
    border-radius: 15px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

